.pantalla-completa {
    height: 100vh;
}

div {
    box-sizing: border-box;
}

#navegacion {
    background-color: rgb(255, 111, 111);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#contenido {
    background-color: rgb(221, 225, 215);
    color: rgb(74, 74, 74);
    display: flex;
    justify-content: center;
    align-items: center;
}