header {
    background-color: rgb(255, 170, 178);
    color: rgb(255, 255, 255);
}

h2 {
    color: rgb(251, 72, 90);
}

section {
    background-color: rgb(255, 224, 224);
}

img {
    width: 33%;
    height: auto;
    filter: opacity(30%);
}

a:hover img {
    filter: opacity(100%);
}