body{
    font-family: Verdana, Tahoma, sans-serif; 
    
}

h1 {
    font-family: Verdana, Tahoma, sans-serif;
    font-weight: bolder;
    font-size: 40px;
    color: rgb(255, 129, 150);
}

.flex-contain{
    display: flex;
    justify-content:center;
    flex-direction:column;
    padding: 10vw;
}

.deco {
    color: rgb(175, 175, 175);
}

p {
    font-size: 13pt;
    font-weight: lighter;
}

a {
    color: black;
    text-decoration: none;
    font-weight: lighter;
}

a:visited {
    color: rgb(175, 175, 175);
}

a:hover {
    color: rgb(241, 82, 109);
    font-weight: bolder;
}

ul {
    list-style-type: none;
}