body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}

h1 {
    font-weight: lighter;
    font-size: 40pt;
}

h2 {
    font-weight: lighter;
    color: rgb(172, 171, 171);
    font-size: 12pt;
}


#listafinal {
    font-weight: lighter;
    color:rgb(0, 0, 0);
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 30px;
    list-style: none;
}

#listados {
    font-weight: lighter;
    background:rgb(0, 0, 0);
    color:rgb(255, 255, 255);
    padding-top: 30px;
    padding-left: 0;
    padding-bottom: 30px;
    list-style: none;
}

ul {
    list-style: none;
    padding-left: 0;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.titulo {
    padding-top: 10vh;
    padding-bottom: 0;
}

#ningunsitio:hover{
    color: rgb(0, 0, 0);
    text-decoration: line-through;
}

#sitio:hover{
    color: rgb(0, 0, 0);
    text-decoration: underline;
}

