<style>
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: poppins, sans-serif;
}
h1 {
    margin: 2rem; /* = em para responsive */
    font-size: 20px;
}
img {
    width: 100%;
    height: auto;
}
/* Extra small devices (portrait phones, less than 576px)
No media query since this is the default */            
/* MENÚ */
nav {
    height: 20vh; 
    width: 100vw;
}
.menu {
    font-size: 10px;
    height: 20vh;
    width: 100vw;
    text-align: center;
}

.menu a {
    padding: 8px;
    margin-top: 10px;
    color: black;
}
header {
    width: 100vw;
    height: 20vh; 
}
main {
    width: 100vw;
    height: 60vh; 
    display: flex; /* una caja al lado de la otra */
    flex-direction: row;

}
/* LATERAL */
aside {
    font-size: 12px;
    display: none; /* invisible hasta large devices */
}
/* PUBLICIDAD */
#publicidad {
    font-size: 12px;
    display: none; /* invisible hasta large devices */
}


/* En las media queries pongo la mínima información posible */
/* Las especifico de menor a mayor */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {  

}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {  
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {  
    aside {
        display: block;
        width: 20%; /* porcentaje dentro de main */                
    }
    #centro { /* título con la imagen bajo */
        width: 80%;
    }
    nav {
        height: 10vh;
    }
    header {
        height: 10vh;
    }
    main {
        height: 90vh;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
    #publicidad, footer {
        display: block; /* a partir de este tamaño de pantalla los dos son visibles */
    }
    aside {
        width: 20%; /* porcentaje dentro de main */                
    }
    #centro { /* título con la imagen bajo */
        width: 60%;
    }
    #publicidad {
        width: 20%;
    }
    nav {
        height: 10vh; /* es mismo valor que arriba - lo repito para que esté más claro junto a main y footer */
    }
    main {
        height: 80vh;
    }
    footer {
        height: 10vh;
    }
}

</style>